html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

:root {
  --header: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header);
  padding: 0 5%;
  background: #1b74e4;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 10px;
      display: inline-block;
    }
  }
}

main {
  margin: var(--header) 0 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 180px 500px 308px;
  grid-column-gap: 12px;
  grid-template-areas: "nav feed services";
  height: calc(100vh - var(--header));
}

@media (min-width: 1200px) {
  main {
    padding-right: 200px;
  }
}

.side-nav {
  grid-area: nav;
}

.news-feed {
  grid-area: feed;
  height: calc(100vh - var(--header));
  overflow-y: scroll;
}

.services {
  grid-area: services;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post__dot {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.dot {
  width: 5px;
  height: 5px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #65676b;
}

.post__info {
  margin-left: 10px;
  a,
  span {
    display: block;
  }
}

.avatar {
  border-radius: 50%;
  &--story {
    border: 2px solid #1876f2;
  }
}

.post__content {
  img {
    width: 100%;
  }
}

.post__engage {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  a {
    color: #787d85;
    i {
      margin-right: 5px;
    }
  }
}

.comment {
  margin: 0 -10px -10px;
  padding: 10px;
  display: flex;
  background: #eee;
  border-top: solid 1px #ccc;
  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-left: 10px;
    border-radius: 20px;
    .icon {
      display: flex;
      // margin-right: 10px;
      & > * {
        margin-right: 10px;
      }
    }
    input {
      width: 100%;
      margin-left: 10px;
      border-radius: 20px;
      border: none;
      padding: 10px 20px;
      outline: none;
    }
  }
}
